body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
}

#canvas div div {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
