body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    display: flex;
    flex-direction: row;
    flex
}

#canvas div {
}

#canvas div div{
    width: 20px;
    height: 20px;
    background-color: aqua;
    border: solid black 1px;
    flex-shrink: 0;
}